<% include header %>
<div class='container'>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <header>
        <h1>Chatin</h1>
        <h4>OOPS! Page not found. :(</h4>
      </header>
      <hr>
      <p>
        <a href="/">Back?</a>
      </p>
    </div>
  </div>
</div>
<% include footer %>