<% include ../header %>
<div class='container'>
  <div class='row'>
    <h1 class='logo'> Chatin </h1>
    <h4> Create contacts list </h4>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <section>
        <form action="/login" method="post" role='form'>
          <input type="text" name="user[name]" placeholder="Your Name" class='form-control'>
          <br>
          <input type="text" name="user[email]" placeholder="Your E-mail" class='form-control'>
          <br>
          <button type="submit" class='btn  btn-success btn-block'>Sign in / Sign out</button>
        </form>
      </section>
    </div>
  </div>
</div>
<% include ../footer %>