body {
  background: #e3e3e3;
}

h1.logo {
  font-size: 1.9em;
  color: #a4a4a4;
}

h4 {
  font-family: 'Lobster', cursive;
  color: #a4a4a4;
}

#chat {
  max-height: 400px;
  overflow: overlay;
}

#chat .icon {
  width: 21px;
}