<% include ../header %>
<% include ../exit %>
<div class='container'>
  <div class='row'>
  <section>
    <form action='/contact/<%- id %>' method='delete'>
      <p><label>Name:</label><%- contact.name %></p>
      <p><label>E-mail:</label><%- contact.email %></p>
      <p>
        <button type='submit' class='btn btn-sm btn-danger'>Delete</button>
        <a href='/contact/<%- id %>/edit' class='btn btn-sm btn-info'>Edit</a>
      </p>
  </form>
</section>
  </div>
</div>
<% include ../footer %>
